

.footer{
    background-color: rgba(0, 0, 0, 0.285);
    margin:50px 0;
    padding: 50px;
}

.footer-container{
display: flex;
justify-content: space-evenly;
}

@media  screen and (max-width:992px){
    h1{
        font-size: x-large;
    }
    li{
        font-size: xx-small
    };
    }
    
    
    @media screen and (max-width:670px){
    .footer-container{
        flex-direction: column;
    }
    }
    
    @media screen and (max-width:576px) {
    
    }
    
    
    @media screen and (max-width:350px){
    
    }
    
    
    