<footer class="footer">
    <div class="footer-container">
      <div class="f1">
        <p>ANNA SILICON TECHNOLOGY PRIVATE LIMITED  &#174;</p>
        <P><img height="15px" src="../assets/location.png" alt="">&nbsp;KUMBAKONAM 612001</P>
      </div>
      <div class="f1">
        <h4>QUICK LINK</h4>
        <p>HOME</p>
        <p>PRODUCT</p>
        <p>ABOUT US</p>
      </div>
      <div class="f1">
        <h4>DEVELOPED BY</h4>
        <P>ANNA SILICON TECHNOLOGY </P>
        <P>KUMBAKONAM</P>
        <p>612001</p>
      </div>
    </div>
  </footer>