<div class="about-container">
    <img class="product-img" src="/assets/341475.jpg" alt="">

    <div>
    <ul class="about-list">
        <li>ANNA SILICON TECHNOLOGY PRIVATE LIMITED</li>
        <li>NO,44A/47-KUMARAGAM 2ND FLOOR,</li>
        <li>ABIMUKESWARAR EAST STREET,</li>
        <li>KUMBAKONAM-612001.</li>
        <li>MOBILE NO. 8489250917.</li>
        <li>MAIL:ast&#64;gmail.com</li>
    </ul>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3917.084623471073!2d79.38464989999997!3d10.956980199999993!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a5532b5aeaf7d45%3A0x862f245681005e4a!2sAnnaa%20Silicon%20Technology%20Private%20Limited!5e0!3m2!1sen!2sin!4v1722929194581!5m2!1sen!2sin" width="300" height="200" style="border:0;padding: 20px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    
</div>
</div>