.overview-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-img{
    width: 300px;
    padding: 20px;
}
h1{
    text-align: center;
    text-transform: uppercase;
}

p{
    font-size: x-large;
    width: 500px;
}