.home-container{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.product-img{
    width: 300px;
    border-radius: 5px;
    
}
p{
    width: fit-content;
    font-size: x-large;
    margin-left: 10px;
}
.border{
    background-color: rgba(0, 0, 0, 0.416) ;
    padding: 30px;
    margin-right: 10px;
    border-radius: 5px;
    

}

@media  screen and (max-width:992px){
    h1{
        font-size: x-large;
    }
    li{
        font-size: xx-small
    };
    }
    
    
    @media screen and (max-width:768px){
    
    }
    
    @media screen and (max-width:576px) {
        .home-container{
            flex-direction: column;
        }
    }
    
    
    @media screen and (max-width:350px){
    
    }
    
    
    